<footer class="site-footer">
  <div class="container">
    <div class="footer-sections">
      <div class="footer-contacts">
        <div class="footer-contacts-title">Contacts</div>
        <div>
          Email: <a href="mailto:contact@domain.com">contact@domain.com</a>
        </div>
        <div>Phone: <a href="tel:+61293672845">+61 2 9367 2845</a></div>
        <div>Address: 456 Oxford Street, Paddington NSW 2021, Australia</div>
      </div>
      <div class="footer-nav-block">
        <nav class="footer-nav-main">
          <a href="./">Home</a>
          <a href="salon-contacts.html">Contacts</a>
        </nav>
        <div class="footer-nav-policy">
          <a href="beauty-cookies.html">Cookies</a>
          <a href="beauty-privacy.html">Privacy</a>
        </div>
      </div>
    </div>
    <p>
      &copy; <span id="footer-year"></span> 2025 domain.com. All rights
      reserved.
    </p>
  </div>
</footer>
