<div class="mobile-menu-modal" id="mobile-menu-modal">
  <div class="mobile-menu-content">
    <button class="close-modal" id="close-mobile-menu" aria-label="Close menu">
      &times;
    </button>
    <ul>
      <li><a href="./">Home</a></li>
      <li><a href="#salon-features">Features</a></li>
      <li><a href="beauty-news.html">Beauty News</a></li>
      <li><a href="salon-contacts.html">Contacts</a></li>
      <li><a href="beauty-disclaimer.html">Disclaimer</a></li>
    </ul>
  </div>
</div>
